<html>
    <title>test</title>
    <script src="https://cdn.bootcss.com/vue/2.6.6/vue.min.js"></script>
    <div id="app">
        <ul>
            <li v-for="(item,index) in items" v-if="item.isShow">
                {{index}}-{{item.message}}
            </li>
        </ul>
    </div>
    <script>
        var vm1 = new Vue({
            el:'#app',
            data:{
                items:[
                    {message:'smc',isShow:true},
                    {message:'dizai',isShow:false},
                    {message:'zhousi',isShow:true}
                ]
            }
        })
    </script>
</html>